.Register
  .LoginForm
    &.col-6
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      height: 72px;
      &:last-child
        border-right 0;
      .input__phone
        border-bottom: 0;
      &__label
        border-bottom: 0;
  .Register &__later
    background #000
.Register.Login .LoginForm__label {
  border-bottom: 0;
}
