.track,
.intro
  .sidebar
    [class*="col-"]
      padding: 17px 0 0 16px
    &-item
      position: relative
      display: inline-block
      padding: 4px 20px
      font-size: 15px
      font-weight: 600
      line-height: 15px
      background-color: #ffffff
      color: #000000
      text-transform: uppercase
      cursor: pointer
      border-radius (1em)

