.track
  .sidebar
    .col-4
      &:before,
      &:after
        content: ''
        position: absolute
        top: -14px
        width: 22px
        height: 22px
        border-radius (100%)
        background-color: #ffffff
      &:before
        left: -11px
      &:after
        right: -11px
